body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe6cc;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.header-stop {
    background-color: #333;
    color: white;
    padding: 10px 0;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

h1 {
    text-align: center;
    font-size: 28px;
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.out-dot {
    list-style:circle;
    font-size: 18px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.profile-img {      
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.projects {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.project {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}

.project img {
    max-width: 100%;
    height: auto;
}

.project h3 {
    margin: 0;
    padding: 10px 0;
    color: #2e2e2e;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.intro {
    text-align:center;
    padding: 10% 0% 0% 0%;
}

.about-me {
    text-align:justify;
    padding: 5% 0% 10% 0%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.modal img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align:justify;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        width: 100%;
        text-align: center;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
        background-color: #333;
        color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 80%;
    }
}
